
.select2 {
	style: block;
	width: 100%;
}
form {
	position: relative;
}
input.error {
	background-color: #fff6f6;
    border-color: #e0b4b4;
    color: #9f3a38;
    -webkit-box-shadow: none;
    box-shadow: none;
}
i.error {
    color: #9f3a38;
}
div.error {
position: relative;
    min-height: 1em;
    margin: 1em 0;
    padding: 1em 1.5em;
    line-height: 1.4285em;
    border-radius: .28571429rem;
	background-color: #ffe8e6;
    color: #db2828;
    box-shadow: 0 0 0 1px #db2828 inset, 0 0 0 0 transparent;
}
.other.fields {
	display: none;
}
.form.infos.button {
	margin-top: 20px;
}
.submit {
	position: absolute;
	right: 0;
	margin-top: 20px;
}



.mail-to,
.mail-text {
	display: none;
}
.actions {
    display: flex;
    justify-content: space-between;
	margin-top: 20px;
}
.actions > * {
    display: inline-block;
}